Source: kylin-software-properties
Maintainer: kylin <kylin@kylinos.cn>
Section: universe/admin
Priority: optional
Build-Depends: debhelper,
               qtbase5-dev,
               libxml2-dev,
               libxml2,
               libqt5svg5-dev,
               libglib2.0-dev,
               qttools5-dev-tools,
               qtchooser,
               libgsettings-qt-dev,
               libapt-pkg-dev,
               libqapt-dev,
               libqt5dbus5,
Standards-Version: 4.1.3

Package: kylin-software-properties
Architecture: any
Section: universe/admin
Priority: optional
Depends: ${shlibs:Depends}, 
Description: kylin soft source manager
